.gototop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    z-index: 100;
    transition: scale 0.3s ease;
    opacity: 0;
}

.acti {
    opacity: 1 !important;
    animation: aniGoToTop 0.6s ease;
}

.gototop::before {
    content: "";
    background: linear-gradient(45deg,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.5s ease-in-out;
    border-radius: 50%;
}

.gototop::after {
    opacity: 0.9;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #010050;
    left: 0;
    top: 0;
    border-radius: 50%;
    transition: background 0.3s ease;

}

.gototop:active {
    scale: 1.2;
}

.gototop:hover::after {
    background: #007360 !important;
    opacity: 0.1;
}

.gototop svg {
    color: white;
}

@keyframes aniGoToTop {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}